/* Форма заявки на обслуживание компрессора (Desktop) */
#button_clearly_form.hidden{display: none;}
#button_form.hidden{display: none;}

#div_id_room{display: none;}
#div_id_room.show{display: block;}
#div_id_compressor{display: none;}
#div_id_compressor.show{display: block;}
#div_id_mehanical_assembly{display: none;}
#div_id_mehanical_assembly.show{display: block;}
#div_id_electrical_assembly{display: none;}
#div_id_electrical_assembly.show{display: block;}
#div_id_oil_assembly{display: none;}
#div_id_oil_assembly.show{display: block;}
#div_id_air_assembly{display: none;}
#div_id_air_assembly.show{display: block;}
#div_id_another{display: none;}
#div_id_another.show{display: block;}
#div_id_text_open{display: none;}
#div_id_text_open.show{display: block;}
#push{display: none;}
#push.show{display: block;}

#div_id_mehanical_assembly_text{display: none;}
#div_id_mehanical_assembly_text.show{display: block;}
#div_id_electrical_assembly_text{display: none;}
#div_id_electrical_assembly_text.show{display: block;}
#div_id_oil_assembly_text{display: none;}
#div_id_oil_assembly_text.show{display: block;}
#div_id_air_assembly_text{display: none;}
#div_id_air_assembly_text.show{display: block;}
#div_id_another_text{display: none;}
#div_id_another_text.show{display: block;}

#alert_clearly_form.hidden{display: none;}
#alert_form.hidden{display: none;}