{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="{% static 'desktop/js/bootstrap.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'desktop/js/script_burger.js'%}"></script>
  <script type="text/javascript" src="{% static 'desktop/js/request_form.js'%}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'desktop/css/bootstrap.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'desktop/css/custom.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'desktop/css/request_form.css'%}">


	<title>{{ title }}</title>

</head>
<body>
	
{% block mainmenu %}

<header id="header">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarLight" aria-controls="navbarLight" aria-expanded="true" aria-label="Toggle navigation">
      <div class="navbar-burger"><span></span></div>
    </div>
    <div class="navbar-collapse collapse disable m-3" id="navbarLight" style="">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        {% for m in menu %}
        <li class="nav-item m-2">
          <button type="button" class="btn btn-success"><a class="btn btn-success" href="{% url m.url_name %}">{{ m.title }}</a></button>
        </li>
        {% endfor %}
        {% if request.user.is_authenticated %}
          <b class="align-self-center m-2">{{ user.username }}</b>
          <li class="nav-item m-2">
            <button type="button" class="btn btn-success"><a class="btn btn-success" href="{% url 'logout' %}">Выйти</a></button>
          </li>
        {% else %}
          <li class="nav-item m-2">
            <button type="button" class="btn btn-success"><a class="btn btn-success" href="{% url 'register' %}">Регистрация</a></button>
          </li>
          <li class="nav-item m-2">
            <button type="button" class="btn btn-success"><a class="btn btn-success" href="{% url 'login' %}">Войти</a></button>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
</header>

{% endblock mainmenu %}

{% block content %}
{% endblock content %}

</body>
</html>