{% extends 'desktop/base.html' %}

{% block content %}

<div class="container-fluid">
<div class="row">
  <div class="col-lg-6 col-md-12 ">
    <h1 class="display-3">{{ title }}</h1>
  </div>
  <div class="col-lg-6 align-self-center mb-2 mt-2">
    <a class="btn btn-success" href="{% url 'add_request' %}">Подать заявку на обслуживание</a>
  </div>
</div>

<p class="alert alert-info m-0">Новые заявки</p>

{% for request in requests_true %}
<div class="accordion" id="accordionBasic">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ request.id }}" aria-expanded="true" aria-controls="collapseOne{{ request.id }}">Запрос в {{ request.created_date|date:"G:i от d.m.Y" }}</button>
    </h2>
    <div id="collapseOne{{ request.id }}" class="accordion-collapse collapse hidden" aria-labelledby="headingOne" data-bs-parent="#accordionBasic">
      <div class="accordion-body alert alert-warning">
        <p>Помещение - {{ request.room.name }}</p>
        <p>Оборудование - {{ request.compressor.compressor_model.compressor_lable.name }} 
          {{ request.compressor.compressor_model.name }}</p>
        <p class="badge bg-warning text-dark">Описание проблемы</p>
        <p>{{ request.text_open }}</p>
        <a href="{% url 'history_request_post' request.compressor.id request.id %}" class="btn btn-success">Перейти к заявке</a>
      </div>
    </div>
  </div>
  {% empty %}
  <p>Заявок еще не было.</p>
</div>
{% endfor %}

<p class="alert alert-info m-0">Закрытые заявки</p>

{% for request in requests_false %}
<div class="accordion" id="accordionBasic">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ request.id }}" aria-expanded="true" aria-controls="collapseOne{{ request.id }}">Запрос в {{ request.created_date|date:"G:i от d.m.Y" }}</button>
    </h2>
    <div id="collapseOne{{ request.id }}" class="accordion-collapse collapse hidden" aria-labelledby="headingOne" data-bs-parent="#accordionBasic">
      <div class="accordion-body alert alert-warning">
          <p>Помещение - {{ request.room.name }}</p>
          <p>Оборудование - {{ request.compressor.compressor_model.compressor_lable.name }} 
          {{ request.compressor.compressor_model.name }}</p>
          <p class="badge bg-warning text-dark">Описание проблемы</p>
          <p>{{ request.text_open }}</p>
      </div>
      <div class="accordion-body alert alert-success">
          <p class="badge bg-warning text-dark">Решение проблемы</p>
          <p>{{ request.text_close }}</p>
          <a href="{% url 'history_request_post' request.compressor.id request.id %}" class="btn btn-success">Перейти к заявке</a>
      </div>
    </div>
  </div>
  {% empty %}
  <p>Заявок еще не было.</p>
</div>
{% endfor %}

</div>

{% endblock %}