{% extends 'desktop/base.html' %}

{% block content %}

<div class="container-fluid">
<div class="row">
    <div class="col-lg-12 col-md-12 ">
      <h1 class="display-3 text-center">{{ title }}</h1>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12 text-center">
        <h2 class="alert alert-primary">{{compressor.compressor_model.compressor_lable.name}} {{compressor.compressor_model.name}}</h2>
        <h2 class="alert alert-primary" role="alert">Зав.№: {{compressor.api}}</h2>
      </div>
      <div class="col-lg-6 align-self-center text-center">
        <a class="btn btn-success w-100 m-1" href="{% url 'add_request_service' compressor.id %}">Подать заявку на обслуживание</a><br>
        <a class="btn btn-success w-100 m-1" href="{% url 'add_inspection' compressor.id %}">Произвести осмотр</a>
      </div>
    </div>
  </div>

<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="true" href="{% url 'compressor' compressor.id %}">Компрессор</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'statistic' compressor.id %}">Статистика</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'history' compressor.id %}">Истории</a>
      </li>
    </ul>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 g-3 pt-3">
  <div class="col">
    <div class="card text-center">
      <div class="container-fluid col-lg-12">
      	<div class="row align-self-center no-gutters">
		  	<h2 class="alert alert-primary w-100 m-0" role="alert">Истории заявок</h2>
		</div>
	  </div>
	  <div class="row">
	    <div class="col-5 d-flex align-items-center">
	  	  <img src="/static/service/images/service-req.png" class="card-img-top">
	    </div>
        <div class="col-7">
      	  <div class="card-body p-0">
            <p class="card-text alert alert-primary m-1  p-0">Колличество работ</p>
            <p class="card-text alert alert-warning m-1  p-0">105</p>
            <p class="card-text alert alert-primary m-1  p-0">Последняя работа</p>
            <p class="card-text alert alert-warning m-1  p-0">12 апреля 2022</p>
            <p class="card-text alert alert-primary m-1  p-0">Внес данные</p>
            <p class="card-text alert alert-warning m-1  p-0">Сотрудник</p>
          </div>
        </div>
        <div class="row m-0  p-0">
          <div class="col">
          	<a class="btn btn-success w-100 text-center" href="{% url 'history_request' compressor.id %}">Открыть все записи</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-center">
      <div class="container-fluid col-lg-12">
      	<div class="row align-self-center no-gutters">
		  	<h2 class="alert alert-primary w-100 m-0" role="alert">Истории осмотров</h2>
		</div>
	  </div>
	  <div class="row">
	    <div class="col-5 d-flex align-items-center">
	  	  <img src="/static/service/images/service-ward.png" class="card-img-top">
	    </div>
        <div class="col-7">
      	  <div class="card-body p-0">
            <p class="card-text alert alert-primary m-1  p-0">Колличество осмотров</p>
            <p class="card-text alert alert-warning m-1  p-0">132</p>
            <p class="card-text alert alert-primary m-1  p-0">Последний осмотр</p>
            <p class="card-text alert alert-warning m-1  p-0">19 мая 2022</p>
            <p class="card-text alert alert-primary m-1  p-0">Внес данные</p>
            <p class="card-text alert alert-warning m-1  p-0">Сотрудник</p>
          </div>
        </div>
        <div class="row m-0  p-0">
          <div class="col">
          	<a class="btn btn-success w-100 text-center" href="{% url 'history_inspection' compressor.id %}">Открыть все записи</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-center">
      <div class="container-fluid col-lg-12">
      	<div class="row align-self-center no-gutters">
		  	<h2 class="alert alert-primary w-100 m-0" role="alert">Истории проведения Т.О.</h2>
		</div>
	  </div>
	  <div class="row">
	    <div class="col-5 d-flex align-items-center">
	  	  <img src="/static/service/images/service-to.png" class="card-img-top">
	    </div>
        <div class="col-7">
      	  <div class="card-body p-0">
            <p class="card-text alert alert-primary m-1  p-0">Колличество работ</p>
            <p class="card-text alert alert-warning m-1  p-0">105</p>
            <p class="card-text alert alert-primary m-1  p-0">Последняя работа</p>
            <p class="card-text alert alert-warning m-1  p-0">12 апреля 2022</p>
            <p class="card-text alert alert-primary m-1  p-0">Внес данные</p>
            <p class="card-text alert alert-warning m-1  p-0">Сотрудник</p>
          </div>
        </div>
        <div class="row m-0  p-0">
          <div class="col">
          	<a class="btn btn-success w-100 text-center" href="{% url 'history_request' compressor.id %}">Открыть все записи</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-center">
      <div class="container-fluid col-lg-12">
      	<div class="row align-self-center no-gutters">
		  	<h2 class="alert alert-primary w-100 m-0" role="alert">Истории ремонта</h2>
		</div>
	  </div>
	  <div class="row">
	    <div class="col-5 d-flex align-items-center">
	  	  <img src="/static/service/images/service-rem.png" class="card-img-top">
	    </div>
        <div class="col-7">
      	  <div class="card-body p-0">
            <p class="card-text alert alert-primary m-1  p-0">Колличество работ</p>
            <p class="card-text alert alert-warning m-1  p-0">67</p>
            <p class="card-text alert alert-primary m-1  p-0">Последний ремонт</p>
            <p class="card-text alert alert-warning m-1  p-0">18 марта 2022</p>
            <p class="card-text alert alert-primary m-1  p-0">Внес данные</p>
            <p class="card-text alert alert-warning m-1  p-0">Сотрудник</p>
          </div>
        </div>
        <div class="row m-0  p-0">
          <div class="col">
          	<a class="btn btn-success w-100 text-center" href="{% url 'history_request' compressor.id %}">Открыть все записи</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--div class="card-body p-0"> ЭТОТ РАЗДЕЛ УЙДЕТ В ИСТОРИЮ ЗАЯВОК
	{% for post in posts %}
	<div class="accordion" id="accordionBasic">
	  <div class="accordion-item">
	    <h2 class="accordion-header" id="headingOne">
	      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ post.id }}" aria-expanded="true" aria-controls="collapseOne{{ post.id }}">Запрос в {{ post.created_date|date:"G:i от d.m.Y" }}</button>
	    </h2>
	    <div id="collapseOne{{ post.id }}" class="accordion-collapse collapse hidden" aria-labelledby="headingOne" data-bs-parent="#accordionBasic">
	      <div class="accordion-body alert alert-warning">
	        <p>Помещение - {{ post.room.name }}</p>
	        <p>Оборудование - {{ post.compressor.compressor_model.compressor_lable.name }} 
	          {{ post.compressor.compressor_model.name }}</p>
	        <p class="badge bg-warning text-dark">Описание проблемы</p>
	        <p>{{ post.text_open }}</p>
	      </div>
	      <div class="accordion-body alert alert-success">
            <p class="badge bg-warning text-dark">Решение проблемы</p>
            <p>{{ post.text_close }}</p>
            <a href="" class="btn btn-success">Перейти к заявке</a>
          </div>
	    </div>
	  </div>
	  {% empty %}
	  <p>Заявок еще не было.</p>
	</div>
	{% endfor %}
  </div-->
</div>

</div>
{% endblock %}